{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
        "node": true
  },
  "rules": {
    "comma-dangle": 1,
    "no-cond-assign": [2,"always"],
    "no-constant-condition": 2,
    "no-control-regex": 1,
    "no-debugger": 1,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 1,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": 1,
    "no-extra-semi": 1,
    "no-func-assign": 2,
    "no-inner-declarations": [2,"functions"],
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-typeof": 2,
    "no-unexpected-multiline": 2,
    "arrow-spacing": [1,{"before":true,"after":true}]
  },
  "globals": {
    "hexo": false
  }
}
